<header>
  <nav
    class="navbar navbar-expand-md navbar-dark flex-column flex-md-row py-3 bg--navbar"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ "/image/logo.svg" | absURL }}" height="30" alt="header-logo" loading="lazy">
      </a>
      <!-- <a class="navbar-brand" href="{{ "/" | absURL }}">
        {{ .Site.Title }}
      </a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Documentation</a>
          <a
            class="nav-item nav-link"
            href="https://pass.nislab.io/"
            target="_blank"
            rel="noopener noreferrer"
            >NIS-Pass</a
          >
          <a
            class="nav-item nav-link"
            href="https://github.com/Kenny-NISLab"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
          <a
            class="nav-item nav-link"
            href="https://www.dropbox.com/"
            target="_blank"
            rel="noopener noreferrer"
            >NISDISK</a
          >
          <a
            class="nav-item nav-link"
            href="https://calendar.google.com/calendar/embed?src=nislab.doshisha.ac.jp_9reue4u42l5fll0493dr68j9k0%40group.calendar.google.com&ctz=Asia%2FTokyo/"
            target="_blank"
            rel="noopener noreferrer"
            >NISLAB-Calendar</a
          >
          <a
            class="nav-item nav-link"
            href="https://nislab.doshisha.ac.jp"
            target="_blank"
            rel="noopener noreferrer"
            >WebSite</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
